<a href="https://colab.research.google.com/github/hsunlim72/Ilsan_AI_education/blob/HyunsunLim/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import os
import pandas as pd

In [3]:
# Google drive에서 자료 가져오기
from google.colab import drive  # for colab
drive.mount('/content/gdrive/')  # for colab

Mounted at /content/gdrive/

In [4]:
cloud_directory = '/content/gdrive/MyDrive/sample/'
os.listdir(cloud_directory) # for colab, check cloud directory mount

['nhid_gy20_t1.csv']

In [5]:
T20 = pd.read_csv('{}/nhid_gy20_t1.csv'.format(cloud_directory),keep_default_na = False, encoding='cp949')
T20

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (5,9,13,15,16,17,18,19,20,21,22,23,25) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,PERSON_ID,KEY_SEQ,YKIHO_ID,RECU_FR_DT,FORM_CD,DSBJT_CD,MAIN_SICK,SUB_SICK,IN_PAT_CORS_TYPE,OFFC_INJ_TYPE,...,EDEC_ADD_RT,EDEC_TRAMT,EDEC_SBRDN_AMT,EDEC_JBRDN_AMT,EDEC_CT_TOT_AMT,EDEC_MRI_TOT_AMT,DMD_DRG_NO,TOT_PRES_DD_CNT,sampling,MPRSC_GRANT_NO
0,55455550,200206164032,1,20020606,3,1,A05,,-,0,...,30,72060,44000,28060,0,0,061820,0,1,
1,70533868,200208415526,1,20020917,3,1,J45,,-,0,...,30,18310,18310,0,0,0,040960,37,1,
2,36873593,200208415377,1,20020926,3,4,D24,,-,0,...,30,55850,34670,21180,0,0,092830,0,1,
3,70533868,200209411045,1,20021022,3,1,J45,,-,0,...,30,10490,10490,0,0,0,040960,30,1,
4,47026415,200211447142,1,20021205,3,12,H10,,-,0,...,30,24310,18900,5410,0,0,020460,1,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10517397,22299333,201303096421,183943,20131224,3,1,J060,J303,,0,...,15,10820,3200,7620,0,0,D64020,7,1,2013122402007
10517398,22299333,201303096420,183943,20131221,3,1,J060,J303,,0,...,15,24060,6200,17860,0,0,D64020,3,1,2013122102006
10517399,26150377,201314307207,183948,20131230,3,10,N870,L0336,,0,...,15,96790,29000,67790,0,0,N62001,0,1,
10517400,26150377,201314307206,183948,20131223,3,10,E060,,,0,...,15,20510,6100,14410,0,0,K65000,0,1,
10517401,68718100,201314307205,183948,20131226,3,10,N644,N760,,0,...,15,12620,3700,8920,0,0,J64000,3,1,2013122600006

In [ ]:
T30 = pd.read_csv('{}/nhid_gy30_t1.csv'.format(cloud_directory),keep_default_na = False, encoding='cp949')
T30