<a href="https://colab.research.google.com/github/hsunlim72/Ilsan_AI_education/blob/HyunsunLim/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import os
import pandas as pd

In [7]:
# Google drive에서 자료 가져오기
from google.colab import drive  # for colab
drive.mount('/content/gdrive/')  # for colab

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [8]:
cloud_directory = '/content/gdrive/MyDrive/sample/'
os.listdir(cloud_directory) # for colab, check cloud directory mount

['nhid_gy20_t1.csv',
 'nhid_gy30_t1.csv',
 'nhid_gy60_t1.csv',
 'nhid_jk.csv',
 'id.csv',
 'nhid_gj.csv']

In [9]:
ID = pd.read_csv('{}/id.csv'.format(cloud_directory),keep_default_na = False, encoding='cp949')
ID

       PERSON_ID  sampling
0       11416684         1
1       11435193         1
2       12282221         1
3       12582450         1
4       12645281         1
...          ...       ...
99995   94418802         1
99996   94420539         1
99997   94424639         1
99998   94424892         1
99999   94428424         1

[100000 rows x 2 columns]

In [17]:
T20 = pd.read_csv('{}/nhid_gy20_t1.csv'.format(cloud_directory),keep_default_na = False, encoding='cp949')
T20

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (5,9,13,15,16,17,18,19,20,21,22,23,25) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,PERSON_ID,KEY_SEQ,YKIHO_ID,RECU_FR_DT,FORM_CD,DSBJT_CD,MAIN_SICK,SUB_SICK,IN_PAT_CORS_TYPE,OFFC_INJ_TYPE,...,EDEC_ADD_RT,EDEC_TRAMT,EDEC_SBRDN_AMT,EDEC_JBRDN_AMT,EDEC_CT_TOT_AMT,EDEC_MRI_TOT_AMT,DMD_DRG_NO,TOT_PRES_DD_CNT,sampling,MPRSC_GRANT_NO
0,55455550,200206164032,1,20020606,3,1,A05,,-,0,...,30,72060,44000,28060,0,0,061820,0,1,
1,70533868,200208415526,1,20020917,3,1,J45,,-,0,...,30,18310,18310,0,0,0,040960,37,1,
2,36873593,200208415377,1,20020926,3,4,D24,,-,0,...,30,55850,34670,21180,0,0,092830,0,1,
3,70533868,200209411045,1,20021022,3,1,J45,,-,0,...,30,10490,10490,0,0,0,040960,30,1,
4,47026415,200211447142,1,20021205,3,12,H10,,-,0,...,30,24310,18900,5410,0,0,020460,1,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10517397,22299333,201303096421,183943,20131224,3,1,J060,J303,,0,...,15,10820,3200,7620,0,0,D64020,7,1,2013122402007
10517398,22299333,201303096420,183943,20131221,3,1,J060,J303,,0,...,15,24060,6200,17860,0,0,D64020,3,1,2013122102006
10517399,26150377,201314307207,183948,20131230,3,10,N870,L0336,,0,...,15,96790,29000,67790,0,0,N62001,0,1,
10517400,26150377,201314307206,183948,20131223,3,10,E060,,,0,...,15,20510,6100,14410,0,0,K65000,0,1,
10517401,68718100,201314307205,183948,20131226,3,10,N644,N760,,0,...,15,12620,3700,8920,0,0,J64000,3,1,2013122600006

In [9]:
T30 = pd.read_csv('{}/nhid_gy30_t1.csv'.format(cloud_directory),keep_default_na = False, encoding='cp949')
T30

UnicodeDecodeError: ignored

In [10]:
T60 = pd.read_csv('{}/nhid_gy60_t1.csv'.format(cloud_directory),keep_default_na = False, encoding='cp949')
T60

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3,4,7,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,KEY_SEQ,SEQ_NO,RECU_FR_DT,DIV_TYPE_CD,DIV_CD,GNL_NM_CD,DD_MQTY_FREQ,DD_EXEC_FREQ,MDCN_EXEC_FREQ,UN_COST,AMT,PERSON_ID,sampling
0,200200000108,1,20021227,3,A03002461,113101ATB,1.0000,3,1,187,561,42595847,1
1,200200000108,2,20021227,3,A35150611,101804ACH,1.0000,3,1,105,315,42595847,1
2,200200000108,3,20021227,3,A19201701,259700ATB,1.0000,3,1,62,186,42595847,1
3,200200000108,4,20021227,3,A08601941,254400ACH,1.0000,3,1,59,177,42595847,1
4,200200000108,5,20021227,3,A04850711,113304ATB,1.0000,3,1,72,216,42595847,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33744617,201328016532,2,20131230,3,643101920,161201COS,6.0000,1,1,335,2010,19053541,1
33744618,201328016532,1,20131230,3,643703520,183204COS,1.6667,3,1,674,3370,19053541,1
33744619,201328016744,3,20131203,3,643500600,186101ATB,1.0000,3,4,125,1500,68869373,1
33744620,201328016744,2,20131203,3,643500930,473502ACE,1.0000,3,4,70,840,68869373,1
33744621,201328016744,1,20131203,3,641902950,108103ACH,1.0000,3,4,86,1032,68869373,1

In [13]:
JK = pd.read_csv('{}/nhid_jk.csv'.format(cloud_directory),keep_default_na = False, encoding='cp949')
JK

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,SEX,AGE_GROUP,STND_Y,PERSON_ID,DTH_YM,DTH_CODE1,DTH_CODE2,SIDO,SGG,IPSN_TYPE_CD,CTRB_PT_TYPE_CD,DFAB_GRD_CD,DFAB_PTN_CD,DFAB_REG_YM,SelectionProb,SamplingWeight,sampling
0,1,0,2002,11416684,,,,41,41310,6,7,0,0,,0.097502,10.256148,
1,1,0,2002,11435193,,,,48,48330,6,8,0,0,,0.097502,10.256148,
2,1,0,2002,12282221,,,,26,26170,2,2,0,0,,0.097502,10.256148,
3,1,0,2002,12582450,,,,46,46790,2,5,0,0,,0.097502,10.256148,
4,1,0,2002,12645281,,,,46,46110,6,2,0,0,,0.097502,10.256148,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1126547,1,12,2013,96076800,,,,44,44200,7,0,1,6,200703,,,1
1126548,2,17,2013,96217540,,,,11,11500,7,0,0,0,,,,1
1126549,2,7,2013,96373322,,,,11,11470,2,1,0,0,,,,1
1126550,2,16,2013,96482702,,,,41,41480,8,0,0,0,,,,1
1126551,1,7,2013,97642390,,,,11,11650,5,4,0,0,,,,1

In [12]:
GJ = pd.read_csv('{}/nhid_gj.csv'.format(cloud_directory),keep_default_na = False, encoding='cp949')
GJ

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (5,6,7,8,9,14,15,16,35,37) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,HCHK_YEAR,PERSON_ID,YKIHO_GUBUN_CD,HEIGHT,WEIGHT,BP_HIGH,BP_LWST,BLDS,TOT_CHOLE,HMG,...,HCHK_HPLPDM_PMH_YN,HCHK_ETCDSE_PMH_YN,PAST_SMK_TERM_RSPS_CD,PAST_DSQTY_RSPS_CD,CUR_SMK_TERM_RSPS_CD,CUR_DSQTY_RSPS_CD,MOV20_WEK_FREQ_ID,MOV30_WEK_FREQ_ID,WLK30_WEK_FREQ_ID,HCHK_PHSS_PMH_YN
0,2002,10069041,31,161,70,190,110,89,224,16,...,,,,,,,,,,
1,2002,10116196,31,167,58,120,70,108,272,14.8984375,...,,,,,,,,,,
2,2002,10201078,20,164,67,160,100,79,182,14.69921875,...,,,,,,,,,,
3,2002,10207530,30,168,74,160,110,87,228,16,...,,,,,,,,,,
4,2002,10213680,10,165,66,140,80,78,176,14,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215664,2013,75661173,10,165,62,106,64,98,199,13.898438,...,0,0,,,,,1,1,1,0
215665,2013,74119869,35,158,44,97,58,84,202,12.699219,...,0,0,,,,,1,1,1,0
215666,2013,63106000,33,155,62,130,82,88,178,13.898438,...,0,0,,,,,1,1,4,0
215667,2013,42681128,31,161,51,97,54,99,144,12.199219,...,,,,,,,1,8,8,
215668,2013,78689947,10,169,57,108,66,81,161,13.099609,...,0,0,,,,,1,1,1,0